<meta charset="utf-8">
<title>Concesionario</title>

<head>
    <!-- Pagination -->
    <script type="text/javascript" src="http://botmonster.com/jquery-bootpag/jquery.bootpag.js"></script>
</head>

<body>
    <div class="wrap" style="display: inline-flex; width: 100%;">
        <div class="div-filters">
            <div class="highlight"></div>
            <div class="filters"></div>
        </div>
        <div class="image group" id="containerShop" style="display: block; width: 700px;">
            <div class="slider">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.pack.min.js"></script>
                </div>
            </div>
        </div>
        <div id="div-map">
            <div id="map"></div>
        </div>
    </div>
    <div id="pagination"></div>
</body>